* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    src: url("/src/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-weight: 400;
    font-family: Neucha;
    src: url("/src/fonts/Neucha-Regular.ttf");
}

:root {
    --white: #fff;
    --light-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --light-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;

    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: Neucha;
    line-height: 1.2em;
    font-weight: 400;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.bg-light {
    background-color: var(--light);
}

.bg-brown {
    background-color: var(--brown);
}
/* header */
.bg-img::before {
    position: absolute;
    width: 100%;
    height: 100%;

    background: url("/src/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;

    content: "";
}

.bg-header::before {
    height: 913px;
}

.container {
    max-width: 1110px;

    padding: 100px 0;
    margin: 0 auto;

    position: relative;
}

.header-container {
    padding-bottom: 112px;
}

.cl-orange {
    color: var(--main);
}

.head {
    position: relative;

    z-index: 10;
}

.black {
    color: var(--dark);
}

.header-img {
    height: 525px;

    position: absolute;
    top: 55px;
    right: -270px;

    z-index: 0;
}

.header-description {
    margin-top: 185px;
}

.columns {
    display: flex;
    gap: 30px;
}

.column {
    flex: 1 1 540px;
}

.mrg-bttm-40 {
    margin-bottom: 52px;
}

.btn {
    text-decoration: none;
    
    background-color: var(--main);

    border: none;
}

.header-btn {
    padding: 12px 24px;

    text-transform: uppercase;

    color: var(--white);
    font-weight: bold;
}

.header-btn:hover {
    background-color: var(--dark);
    color: var(--main);
    transition: 0.5s;
}

/* 2 page */

.second-page {
    text-align: center;
}

.title {
    text-align: center;
}

.mrg-bttm-30 {
    margin-bottom: 30px;
}

.video {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));

    margin-bottom: -200px;
}

/* 3 page */

